/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    /* for border-box, this makes it so the border width is taken into account*/
}

body {
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    /* centers on the main axis */
    align-items: center;
    /* centers on the cross axis */
    min-height: 100vh;
    /* without a height, it can't move through the cross axis 
    with min-height, we make the height 100% of the screen, making it able to
    be placed in the middle of the cross axis using align-items.*/
}

.panel {
    background-color: white;
    /* display: flex; */
    border-radius: 10px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    /* align-items: flex-start; */
    /* need a width relative to parent first to say min/max 
    max-width is locking the width to never go bigger than what it is set as */
}

.pricing-plan {
    border-bottom: 1px solid #e1f1FF;
}

.pricing-plan:last-child{
    border: none;
}

.pricing-img {
    margin-bottom: 25px;
    width: 100%;
}

.pricing-header {
    letter-spacing: 1px;
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
    /* margin-bottom: 50px; */
}

.pricing-features {
    margin: 50px 0 25px;
}

.pricing-features-item{
    border-top:  1px solid #e1f1ff;
    padding: 15px 0;
    font-weight: 600;
    color:#016ff9;
    font-size: 12px;
    line-height: 1.5;
    /* line-height is the gap between the text that break into
    new lines */
    letter-spacing: 1px;
}

.pricing-features-item:nth-of-type(2){
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #016ff9;
    font-size: 32px;
    font-weight: 700;
    display: block;
    /* display:block breaks it into its own line!!!! */
}

.pricing-button{
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    padding: 15px 35px;
    color: #3483f3;
    display: inline-block;
    text-decoration: none;
    margin: 25px 0;
    /* inline block basically makes it so that the css added stays
    within the line */
}

.pricing-button.is-featured{
    background-color: #48aaff;
    color: white;
}

@media (min-width: 900px){
    .panel{
        flex-direction: row;
    }
}
@media (min-width: 900px){
    .pricing-plan{
        border-bottom: none;
        border-right: 1px solid #e1f1FF;
        padding: 25px 50px;
    }
}
